body {
  margin: 0;
  font-size: 10px;
}
.grid {
  display: grid;
}
.grid-item {
  background-color: #fdba21;
  color: #552583;
  font-size: 5rem;
  text-align: center;
  border: 1px solid black;
}
.box1 {
}
.box2 {
}
.box3 {
}

.box4 {
}
/* 
grid-template-columns 
grid-template-rows
grid-gap
repeat(3, 1fr)
repeat(3, minmax(150px, 1fr))
grid-column-start:
grid-column-end
grid-column 2 / span 3
 grid-template-areas:
    'header header header'
    'sidebar maincontent maincontent'
    'sidebar maincontent maincontent'
    'footer footer footer';
}
*/
